<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://120.24.162.15:8080/com.cszj.watch.web/file/download.do?FileId=00bc4d6f1e9acadc4ccd1dd5c5e5f1118c06bbbaa56a04429011e85bba0ea08043194b4569b4b899775b69de0c7a84e1</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.cszj.test</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>test</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
