<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://112.74.128.226/com.cszj.watch.web/file/download.do?FileId=4a3fe1b0ea516ab676f128870ac268e9adb75ea26079f30a127025534219412ffd7b197e13bf7e0d7175ca83e44a6c7840031f07bee7fe32d9a8a70c7a6eaf55</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.cszj.watch</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>BaBao</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
