<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://cszj188.com/com.cszj.watch.web/file/download.do?FileId=b971965c9b530da765142271a281b6e25053363ead259fa8046c6af319eebc62585d2f515b3ee53d41034e92b3486851c81549509f7c1990b39fda95bc15614525823e40ede931c18d9a678c33b40a65</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.yulaoshi.timestable</string>
				<key>bundle-version</key>
				<string>1.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>课程表</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
